body {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

/*
------------ HEADER ------------
*/

nav {
  display: block;
  width: 60%;
}

#menu-btn {
  display: block;
}

#icon-burger {
  display: none;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.bg-header {
  width: 75rem;
  right: -11rem;
  top: -17rem;
}

/*
------------ HERO ------------
*/

.main-title {
  font-size: 5rem;
}

.bg-hero {
  width: 75rem;
  right: 115rem;
  top: 75rem;
}

.graphics-container {
  align-items: unset;
}

.graphics {
  max-width: 60rem;
}

/*
------------ BENEFITS SECTION ------------
*/

.product-benefits-list {
  width: unset;
}

.text-about-manage-block {
  padding: 0 2.5rem 0 4rem;
  width: 50%;
  align-items: flex-start;
}

.text-about-manage-block h2 {
  text-align: left;
  padding: 0;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.text-about-manage-block p {
  text-align: left;
  padding: 0;
  width: 65%;
}

#benefits-section {
  display: flex;
  margin-top: 9rem;
  justify-content: space-between;
  display: inline-flex;
}

.list-benfits-container {
  width: 50%;
}

.product-benefits-list p {
  right: -6rem;
}

/*
------------ TESTIMONIALS ------------
*/

.people-container p {
  font-size: 1.6rem;
}

#testimonials {
  margin: 5rem 0;
}

/*
------------ CTA SECTION ------------
*/

.cta-container {
  flex-direction: row;
  justify-content: space-evenly;
  height: 22rem;
}

.bg-cta {
  content: url("../images/bg-simplify-section-desktop.svg");
  width: 105rem;
  bottom: 0;
  transform: translate(10%, 0);
}

.color-extension {
  width: 100vw;
  display: block;
  position: absolute;
  left: 0;
}

.color-extension-cta {
  height: 22rem;
  background-color: var(--primary-color);
}

/*
------------ FOOTER ------------
*/

footer {
  height: 25rem;
  display: grid;
  grid-template: repeat(2, 1fr) / 20% 30% 20% 30%;
  padding: 0 1rem;
}

.color-extension-footer {
  height: 25rem;
  background-color: var(--secondary-color);
  z-index: -5;
}

#footer-logo-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.social-container {
  gap: 1.5rem;
}

.social-container img {
  width: 2rem;
}

.footer-nav-container {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

#copyright-text p {
  text-align: right;
}

footer form {
  justify-self: right;
}

#email {
  margin-right: 1rem;
}

/*
------------ MEDIA QUERIES ------------
*/

@media only screen and (min-width: 1800px) {
  .bg-hero,
  .bg-header {
    display: none;
  }
}
